{% extends 'admin/base.html.twig' %}

{% block title %}BEATPASS Admin Dashboard{% endblock %}

{% block body %}
    <div class="top-bar">
        <h1 class="page-title">BEATPASS Admin Dashboard</h1>
    </div>
{% endblock %}