{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div style="margin: 50px; text-align: center;">
    <h1>Dashboard</h1>
    <p>{{ message }}</p>
</div>
{% endblock %}
